{% extends "admin/dashboard.html" %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock script %}


{% block chart %}

<div style='width: 500px ;height: 500px;margin:auto'>
<canvas id="myPieChart"></canvas>

<script >
    const pieData = {
        labels: {{ city|safe }},
        datasets: [{
            label: 'customer from each city',
            data: {{ quantity|safe }},
            backgroundColor: ['rgb(255, 99, 132)', 'rgb(54, 162, 235)', 'rgb(255, 205, 86)','rgb(138, 43, 226)','rgb(43, 226, 205)','rgb(5, 255, 1)'],
            hoverOffset: 4,
        }],
    };
    
    const pieCtx = document.getElementById('myPieChart').getContext('2d');
    new Chart(pieCtx, {
        type: 'pie',
        data: pieData,
    });
    
    
    
</script>
</div>
{% endblock chart %}