{% load static %}
	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href={% static "img/fav.png" %}>
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Coffee</title>
		{%block head%}{%endblock%}
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href={% static "css/linearicons.css" %}>
			<link rel="stylesheet" href={% static 'css/font-awesome.min.css' %}>
			<link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
			<link rel="stylesheet" href={% static 'css/magnific-popup.css' %}>
			<link rel="stylesheet" href={% static 'css/nice-select.css' %}>					
			<link rel="stylesheet" href={% static 'css/animate.min.css' %}>
			<link rel="stylesheet" href={% static 'css/owl.carousel.css' %}>
			<link rel="stylesheet" href={% static 'css/main.css' %}>

			

			<link rel="stylesheet" type="text/css" href={% static "css1/bootstrap.min.css" %}>
			<!-- style css -->
			<link rel="stylesheet" type="text/css" href={% static "css1/style.css" %}>
			<!-- Responsive-->
			<link rel="stylesheet" href={% static "css1/responsive.css" %}>
			<!-- fevicon -->
			<link rel="icon" href={% static "img/fevicon.png" %} type="image/gif" />
			<!-- font css -->
			<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
			<!-- Scrollbar Custom CSS -->
			<link rel="stylesheet" href={% static "css1/jquery.mCustomScrollbar.min.css" %}>
			<!-- Tweaks for older IEs-->
			<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		</head>
		<body>

            {% block header %}
            {% endblock header %}

            {% block content %}
            {% endblock content %}
			
            {% block footer %}
            {% endblock footer %}

			 

			<script src={% static 'js/vendor/jquery-2.2.4.min.js' %}></script>
			<script src= 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src={% static 'js/vendor/bootstrap.min.js' %}></script>			
			<script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA' ></script>
  			<script src={% static 'js/easing.min.js' %}></script>			
			<script src={% static 'js/hoverIntent.js' %}></script>
			<script src={% static 'js/superfish.min.js' %}></script>	
			<script src={% static 'js/jquery.ajaxchimp.min.js' %}></script>
			<script src={% static 'js/jquery.magnific-popup.min.js' %}></script>	
			<script src={% static 'js/owl.carousel.min.js' %}></script>			
			<script src={% static 'js/jquery.sticky.js' %}></script>
			<script src={% static 'js/jquery.nice-select.min.js' %}></script>			
			<script src={% static 'js/parallax.min.js' %}></script>	
			<script src={% static 'js/waypoints.min.js' %}></script>
			<script src={% static 'js/jquery.counterup.min.js' %}></script>					
			<script src={% static 'js/mail-script.js' %}></script>	
			<script src={% static 'js/main.js' %}></script>	

			<script src={% static 'js1/jquery.min.js' %}></script>
			<script src={% static 'js1/popper.min.js' %}></script>
			<script src={% static 'js1/bootstrap.bundle.min.js' %}></script>
			<script src={% static 'js1/jquery-3.0.0.min.js' %}></script>
			<script src={% static 'js1/plugin.js' %}></script>
			<!-- sidebar -->
			<script src={% static 'js1/jquery.mCustomScrollbar.concat.min.js' %}></script>
			<script src={% static 'js1/custom.js' %}></script>
		</body>
	</html>



