
{% load static %}

<header id="header" id="home" class="header-scrolled">
	<div class="container">
		<div class="row align-items-center justify-content-between d-flex">
		  <div id="logo">
			<a href="index.html"><img src={% static "img/logos.png" %} width='50px' alt="" title="" /></a>
		  </div>
		  <nav id="nav-menu-container">
			<ul class="nav-menu">
				<li><form method="get" class="form-inline" action="{% url 'cafe:search' %}">
					<input class="form-control mr-sm-2" style="height:30px" type="search" placeholder="Search" aria-label="Search" name="q">
					<button class="btn  my-2 my-sm-0" type="submit"  style="color: rgb(92, 66, 10);padding:2px">Search</button>
				  </form>
				</li>
			  {% comment %} <li class="menu-active"><a href="#home">Home</a></li> {% endcomment %}
			  <li><a href="#about">About</a></li>
			  <li><a href="#coffee">Contact</a></li>
			 
               {% if request.user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link " href= "#">{{request.user.username}}</a>
      </li>
         <li class="nav-item active">
        <a class="nav-link " href= "{% url 'cafe:showcart' %}">cart</a>
      </li>
      <li class="nav-item active">
      <a class="nav-link "  href= "{% url 'accounts:logout' %}">Logout</a>
      </li>
         
      {% comment %} <li class="nav-item active"> {% endcomment %}
      {% else %}
      <li class="nav-item active">
      <a class="nav-link " href="{% url 'accounts:login' %}">Login</a>
      </li>
           <li class="nav-item active">
      <a class="nav-link "  href= "{%url 'accounts:register'%}">Register</a>
      </li>
      {% endif %}
        {% if request.user.is_staff%}
            <<a class="nav-link " href="{% url 'cafe:staff' %}">go admin panel</a>
            
        {% endif %}
			</ul>
		  </nav><!-- #nav-menu-container -->		    		
		</div>
	</div>
  </header><!-- #header -->
