{% extends "coffee_base/base.html" %}
{% load static %}
	

{% block header %}
{% include "coffee_base/main_header.html" %}
{% endblock header %}


{% block content %}
<!-- start banner Area -->
<section class="banner-area" id="home">	
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-start">
			<div class="banner-content col-lg-7">
				<h6 class="text-white text-uppercase">Now you can feel the Energy</h6>
				<h1>
					Start your day with <br>
					a black Coffee				
				</h1>
				<a href="#" class="primary-btn text-uppercase">Buy Now</a>
			</div>											
		</div>
	</div>
</section>
<!-- End banner Area -->	

<!-- Start menu Area -->
{% comment %} <section class="menu-area section-gap" id="coffee"> {% endcomment %}
	
	<div class="coffee_section layout_padding">
		<div class="container">
		   <div class="row">
			  <div class="col-md-12">
				 <h1 class="coffee_taital">OUR Categories</h1>
			  </div>
		   </div>
		</div>
		<div class="coffee_section_2">
		   <div id="main_slider" class="carousel slide" data-ride="carousel">
			  <div class="carousel-inner">
				 <div class="carousel-item active">
					<div class="container-fluid">
					   <div class="row">
						  <div class="col-lg-3 col-md-6">
							 <div class="coffee_img"><img src={% static 'img/img-1.png' %}></div>
							 <div class="coffee_box" style='background-color:#362301'>
								<h3 class="types_text">TYPES OF COFFEE</h3>
								<p class="looking_text">looking at its layout. The point of</p>
								<div class="read_bt"><a href="#">Read More</a></div>
							 </div>
						  </div>
						  <div class="col-lg-3 col-md-6">
							 <div class="coffee_img"><img src={% static 'img/img-2.png' %}></div>
							 <div class="coffee_box" style='background-color:#362301'>
								<h3 class="types_text">BEAN VARIETIES</h3>
								<p class="looking_text">looking at its layout. The point of</p>
								<div class="read_bt"><a href="#">Read More</a></div>
							 </div>
						  </div>
						  <div class="col-lg-3 col-md-6">
							 <div class="coffee_img"><img src={% static 'img/img-3.png' %}></div>
							 <div class="coffee_box" style='background-color:#362301'>
								<h3 class="types_text">COFFEE & PASTRY</h3>
								<p class="looking_text">looking at its layout. The point of</p>
								<div class="read_bt"><a href="#">Read More</a></div>
							 </div>
						  </div>
						  <div class="col-lg-3 col-md-6">
							 <div class="coffee_img"><img src={% static 'img/img-4.png' %}></div>
							 <div class="coffee_box" style='background-color:#362301' >
								<h3 class="types_text">COFFEE TO GO</h3>
								<p class="looking_text">looking at its layout. The point of</p>
								<div class="read_bt"><a href="#">Read More</a></div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
				 {% comment %} <div class="carousel-item">
					<div class="container-fluid">
					   <div class="row">
						  <div class="col-lg-3 col-md-6">
							 <div class="coffee_img"><img src={% static 'img/img-1.png' %}></div>
							 <div class="coffee_box">
								<h3 class="types_text">TYPES OF COFFEE</h3>
								<p class="looking_text">looking at its layout. The point of</p>
								<div class="read_bt"><a href="#">Read More</a></div>
							 </div>
						  </div>
						  <div class="col-lg-3 col-md-6">
							 <div class="coffee_img"><img src={% static 'img/img-2.png' %}></div>
							 <div class="coffee_box">
								<h3 class="types_text">BEAN VARIETIES</h3>
								<p class="looking_text">looking at its layout. The point of</p>
								<div class="read_bt"><a href="#">Read More</a></div>
							 </div>
						  </div>
						  <div class="col-lg-3 col-md-6">
							 <div class="coffee_img"><img src={% static 'img/img-3.png' %}></div>
							 <div class="coffee_box">
								<h3 class="types_text">COFFEE & PASTRY</h3>
								<p class="looking_text">looking at its layout. The point of</p>
								<div class="read_bt"><a href="#">Read More</a></div>
							 </div>
						  </div>
						  <div class="col-lg-3 col-md-6">
							 <div class="coffee_img"><img src={% static 'img/img-4.png' %}></div>
							 <div class="coffee_box">
								<h3 class="types_text">COFFEE TO GO</h3>
								<p class="looking_text">looking at its layout. The point of</p>
								<div class="read_bt"><a href="#">Read More</a></div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div> {% endcomment %}
				 {% comment %} <div class="carousel-item">
					<div class="container-fluid">
					   <div class="row">
						  <div class="col-lg-3 col-md-6">
							 <div class="coffee_img"><img src="img/img-1.png"></div>
							 <div class="coffee_box">
								<h3 class="types_text">TYPES OF COFFEE</h3>
								<p class="looking_text">looking at its layout. The point of</p>
								<div class="read_bt"><a href="#">Read More</a></div>
							 </div>
						  </div>
						  <div class="col-lg-3 col-md-6">
							 <div class="coffee_img"><img src="img/img-2.png"></div>
							 <div class="coffee_box">
								<h3 class="types_text">BEAN VARIETIES</h3>
								<p class="looking_text">looking at its layout. The point of</p>
								<div class="read_bt"><a href="#">Read More</a></div>
							 </div>
						  </div>
						  <div class="col-lg-3 col-md-6">
							 <div class="coffee_img"><img src="img/img-3.png"></div>
							 <div class="coffee_box">
								<h3 class="types_text">COFFEE & PASTRY</h3>
								<p class="looking_text">looking at its layout. The point of</p>
								<div class="read_bt"><a href="#">Read More</a></div>
							 </div>
						  </div>
						  <div class="col-lg-3 col-md-6">
							 <div class="coffee_img"><img src="img/img-4.png"></div>
							 <div class="coffee_box">
								<h3 class="types_text">COFFEE TO GO</h3>
								<p class="looking_text">looking at its layout. The point of</p>
								<div class="read_bt"><a href="#">Read More</a></div>
							 </div>
						  </div>
					   </div>
					</div>
				 </div> {% endcomment %}
			  </div>
			  <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
			  <i class="fa fa-arrow-left"></i>
			  </a>
			  <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
			  <i class="fa fa-arrow-right"></i>
			  </a>
		   </div>
		</div>
	 </div>
	

<!-- Start gallery Area -->
{% comment %} <section class="gallery-area section-gap" id="gallery">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">What kind of Coffee we serve for you</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="col-lg-4">
				<a href={% static 'img/g1.jpg' %} class="img-pop-home">
					<img class="img-fluid" src="img/g1.jpg" alt="">
				</a>	
				<a href={% static 'img/g2.jpg' %} class="img-pop-home">
					<img class="img-fluid" src="img/g2.jpg" alt="">
				</a>	
			</div>
			<div class="col-lg-8">
				<a href={% static 'img/g3.jpg' %} class="img-pop-home">
					<img class="img-fluid" src={% static 'img/g3.jpg' %} alt="">
				</a>	
				<div class="row">
					<div class="col-lg-6">
						<a href={% static 'img/g4.jpg' %} class="img-pop-home">
							<img class="img-fluid" src="img/g4.jpg" alt="">
						</a>	
					</div>
					<div class="col-lg-6">
						<a href={% static 'img/g5.jpg' %} class="img-pop-home">
							<img class="img-fluid" src={% static 'img/g5.jpg' %} alt="">
						</a>	
					</div>
				</div>
			</div>
		</div>
	</div>	
</section> {% endcomment %}
<!-- End gallery Area -->

<!-- Start review Area -->
{% comment %} <section class="review-area section-gap" id="review">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">What kind of Coffee we serve for you</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="col-lg-6 col-md-6 single-review">
				<img src={% static 'img/r1.png' %} alt="">
				<div class="title d-flex flex-row">
					<h4>lorem ipusm</h4>
					<div class="star">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>								
					</div>
				</div>
				<p>
					Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
				</p>
			</div>	
			<div class="col-lg-6 col-md-6 single-review">
				<img src={% static 'img/r2.png' %} alt="">
				<div class="title d-flex flex-row">
					<h4>lorem ipusm</h4>
					<div class="star">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>								
					</div>
				</div>
				<p>
					Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
				</p>
			</div>	
		</div>
		<div class="row counter-row">
			<div class="col-lg-3 col-md-6 single-counter">
				<h1 class="counter">2536</h1>
				<p>Happy Client</p>
			</div>
			<div class="col-lg-3 col-md-6 single-counter">
				<h1 class="counter">7562</h1>
				<p>Total Projects</p>
			</div>
			<div class="col-lg-3 col-md-6 single-counter">
				<h1 class="counter">2013</h1>
				<p>Cups Coffee</p>
			</div>
			<div class="col-lg-3 col-md-6 single-counter">
				<h1 class="counter">10536</h1>
				<p>Total Submitted</p>
			</div>																		
		</div>
	</div>	
</section> {% endcomment %}
<!-- End review Area -->

<!-- Start blog Area -->
<section class="blog-area section-gap" id="blog" >
	<div class="container"  >
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center" style='padding-top:100px'>
					<h1 class="mb-10">What kind of Coffee we serve for you</h1>
					<p>This cup of coffee is like a warm hug in a mug - rich, smooth, and guaranteed to brighten your day.</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="col-lg-6 col-md-6 single-blog">
				<img class="img-fluid" src={% static 'img/b1.jpg' %} alt="">
				<ul class="post-tags">
					<li><a href="#">Travel</a></li>
					<li><a href="#">Life Style</a></li>
				</ul>
				<a href="#"><h4>Want to Know How much Good is Our Cappuccino?</h4></a>
				<p>
					Indulge in our velvety smooth cappuccino, a perfect blend of rich espresso and frothy milk for a delightful pick-me-up.
				</p>
				<p class="post-date">
					31st January, 2018
				</p>
			</div>
			<div class="col-lg-6 col-md-6 single-blog">
				<img class="img-fluid" src={% static 'img/b2.jpg' %} alt="">
				<ul class="post-tags">
					<li><a href="#">Travel</a></li>
					<li><a href="#">Life Style</a></li>
				</ul>
				<a href="#"><h4>Our Employees</h4></a>
				<p>
					General praise: Our team is a powerhouse of talent and dedication, consistently exceeding expectations.
Highlighting skills: Our skilled and passionate employees are the backbone of our success.
Customer-focused: Our friendly and knowledgeable employees go the extra mile to ensure customer satisfaction.
Teamwork: Our collaborative and supportive team thrives on working together to achieve great things.
				</p>
				<p class="post-date">
					31st January, 2018
				</p>
			</div>						
		</div>
	</div>	
</section>
<!-- End blog Area -->

{% endblock content %}

{% block footer %}
{% include "coffee_base/footer.html" %}
{% endblock footer %}



