{% extends "coffee_base/base.html" %}
{% load static %}

{% block header %}
{% include "coffee_base/main_header.html" %}
{% endblock header %}

{% block content %}
<!-- start banner Area -->
<section class="banner-area" id="home">	
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-start">
      <div class="banner-content col-lg-7">
        <h6 class="text-white text-uppercase">Now you can feel the Energy</h6>
        <h1>
          Start your day with <br>
          a black Coffee				
        </h1>
        <a href="{% url "cafe:all_product" %}" class="primary-btn text-uppercase">Buy Now</a>
      </div>											
    </div>
  </div>
</section>
<!-- End banner Area -->	

<!-- Start menu Area -->
	
<div class="coffee_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="coffee_taital">OUR Categories</h1>
      </div>
    </div>
  </div>
  <div class="coffee_section_2">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for i in category %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="container-fluid">
            <div class="inline">
              <div class="col-lg-3 col-md-6">
                 
                <div class="coffee_img" ><img src="{{ i.image.first.image.url }}" alt="{{ i.image.first.image.title }}"></div>
                <div class="coffee_box" style='background-color:#362301'>
                  <h3 class="types_text">{{ i.name }}</h3>
                  <p class="looking_text">{{ i.description }}</p>
                  <div class="read_bt"><a href="{% url 'cafe:items' i.id %}">Read More</a></div>
                    
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
        <i class="fa fa-arrow-left"></i>
      </a>
      <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
        <i class="fa fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>

<section class="blog-area section-gap" id="blog" >
  <div class="container"  >
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
        <div class="title text-center" style='padding-top:100px'>
          <h1 class="mb-10">What kind of Coffee we serve for you</h1>
          <p>This cup of coffee is like a warm hug in a mug - rich, smooth, and guaranteed to brighten your day.</p>
        </div>
      </div>
    </div>						
    <div class="row">
      <div class="col-lg-6 col-md-6 single-blog">
        <img class="img-fluid" src={% static 'img/b1.jpg' %} alt="">
        <ul class="post-tags">
          <li><a href="#">Travel</a></li>
          <li><a href="#">Life Style</a></li>
        </ul>
        <a href="#"><h4>Want to Know How much Good is Our Cappuccino?</h4></a>
        <p>
          Indulge in our velvety smooth cappuccino, a perfect blend of rich espresso and frothy milk for a delightful pick-me-up.
        </p>
        <p class="post-date">
          31st January, 2018
        </p>
      </div>
      <div class="col-lg-6 col-md-6 single-blog">
        <img class="img-fluid" src={% static 'img/b2.jpg' %} alt="">
        <ul class="post-tags">
          <li><a href="#">Travel</a></li>
          <li><a href="#">Life Style</a></li>
        </ul>
        <a href="#"><h4>Our Employees</h4></a>
        <p>
          General praise: Our team is a powerhouse of talent and dedication, consistently exceeding expectations.
Highlighting skills: Our skilled
        </p>
        <p class="post-date">
          31st January, 2018
        </p>
      </div>
    </div>
      
      </section>{% endblock %}


{% block footer %}
{% include "coffee_base/footer.html" %}
{% endblock footer %}
