{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <p>About us Cafe Odin
        Introduction:
        
        Welcome to Odin Cafe! We are proud to provide you with a cozy and intimate place to enjoy delicious coffee, delicious snacks and a pleasant atmosphere.
        
        Our story:
        
        Odin Cafe was established with love and passion for coffee and with the aim of creating a space for friendly gatherings and relaxing moments. We believe that coffee can be more than just a drink and act as a means of communication and intimacy.
        
        Our values:
        
        At Cafe Odin, quality, authenticity and customer satisfaction are at the top of our priorities. We use the best coffee beans in the world and process and brew them with delicacy and skill to offer you a unique taste. Also, we are trying to create a unique experience for our customers by providing excellent services and a warm and pleasant atmosphere.
        
        Our menu:
        
        Odin Cafe's menu includes a variety of hot and cold coffees, cold drinks, delicious cakes and pastries, as well as sandwiches and light snacks. We also offer suitable options for vegetarians and people with special diets.
        
        Our space:
        
        Odin Cafe has a cozy and intimate atmosphere designed with modern and minimal decoration. We are trying to provide you a peaceful and pleasant atmosphere so that you can enjoy your time with your friends and family.
        
        We are waiting for you at Cafe Odin!
        
        Additional notes:
        
        You can find more information about our cafe menu, opening hours and address on our website or social pages.
        We also welcome private events and parties at Cafe Odin.
        You can contact us or leave a message in the comments section of our website to provide your comments and suggestions.
        We hope Odin Cafe will become your permanent hangout!</p>
{% endblock %}