{% extends "coffee_base/base.html" %}
{% load static %}



{% block header %}
{% include "coffee_base/main_header.html" %}
{% endblock header %}

{% block content %}

<div style='padding:70px ;width:70%; display: flex;flex-direction: column; justify-content: center;margin: auto;width: 80%'>
    
    <p>
      About Cafe Seyed<br>
      <br>
      Introduction:
      <br>
      Welcome to Seyed Cafe! We are proud to provide you with a cozy and intimate place to enjoy delicious coffee, delicious snacks and a pleasant atmosphere.
      <br>
      Our story:
      <br>
      Seyed Cafe was established with love and passion for coffee and with the aim of creating a space for friendly gatherings and relaxing moments. We believe that coffee can be more than just a drink and act as a means of communication and intimacy.
      <br>
      Our values:
      <br>
      At Cafe Seyed, quality, authenticity and customer satisfaction are at the top of our priorities. We use the best coffee beans in the world and process and brew them with delicacy and skill to offer you a unique taste. Also, we are trying to create a unique experience for our customers by providing excellent services and a warm and pleasant atmosphere.
      <br>
      Our menu:
      
      Seyed Cafe's menu includes a variety of hot and cold coffees, cold drinks, delicious cakes and pastries, as well as sandwiches and light snacks. We also offer suitable options for vegetarians and people with special diets.
      <br>
      Our space:
      <br>
      Seyed Cafe has a cozy and intimate atmosphere designed with modern and minimal decoration. We are trying to provide you a peaceful and pleasant atmosphere so that you can enjoy your time with your friends and family.
      
      We are waiting for you at Cafe Seyed!
      <br>
      Additional notes:
      <br>
      You can find more information about our cafe menu, opening hours and address on our website or social pages.
      We also welcome private events and parties at Cafe Seyed.
      You can contact us or leave a message in the comments section of our website to provide your comments and suggestions.
      We hope Seyed Cafe will become your permanent hangout!
    </p>

  </div>
{% endblock %}

{% block footer %}
{% include "coffee_base/footer.html" %}
{% endblock footer %}
