{% extends "admin/dashboard.html" %}

{% block chart %}

<div class="row">
    {% for i in category %}
        <div class="col-sm-2    ">
            <div class="card">
                <img src="{{ i.image.first.image.url }}" alt="{{ i.image.first.image.title }}" class="card-img-top" width='245px' height='218px' >
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p class="card-text">{{ i.description }}</p>
                    <a href="{% url 'cafe:add_product' i.id %}" class="btn btn-primary"> show  products</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock chart %}
