{% extends 'base/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap CSS -->
  

</head>
<body>
{% block content %}

<div class="row">
    {% for i in category %}
        <div class="col-sm-4">
            <div class="card">
                <img src="{{ i.image.first.image.url }}" alt="{{ i.image.first.image.title }}" class="rounded mx-auto d-block" width="300px" height="100px">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p class="card-text">{{ i.description }}</p>
                    <a href="{% url 'cafe:items' i.id %}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>